*.pdf
./.git/objects/pack/pack-ae45516a192637fcac30ed15dfdfa501770313c8.pack
./.git/objects/pack/pack-bf9bfd1f8f916e8dfef89fa8c6c2fd6e78b0068b.pack
./all/wradlib-data-master/radolan/grid/geotiff.tif
./all/wradlib-data-master/netcdf/cfrad.20080604_002217_000_SPOL_v36_SUR.nc
./all/wradlib-data-master/hdf5/71_20181220_060628.pvol.h5
./all/wradlib-data-master/hdf5/71_20181220_061228.pvol.h5
./all/wradlib-data-master/hdf5/DWD-Vol-2_99999_20180601054047_00.h5
./all/wradlib-data-master/geo/ne_10m_admin_0_countries.shp
./all/wradlib-data-master/geo/bangladesh.tif
./all/wradlib-data-master/geo/rivers_asia_37331.shp
./all/wradlib-data-master/geo/rivers_asia_37331.dbf
./all/wradlib-data-master/geo/bonn_new.tif
.ipynb_checkpoints
.vscode
*.csv
*.json
*.npz
./.git/objects/pack/pack-ae45516a192637fcac30ed15dfdfa501770313c8.pack
./.git/objects/pack/pack-bf9bfd1f8f916e8dfef89fa8c6c2fd6e78b0068b.pack
./all/wradlib-data-master/radolan/grid/geotiff.tif
./all/wradlib-data-master/netcdf/cfrad.20080604_002217_000_SPOL_v36_SUR.nc
./all/wradlib-data-master/hdf5/71_20181220_060628.pvol.h5
./all/wradlib-data-master/hdf5/71_20181220_061228.pvol.h5
./all/wradlib-data-master/hdf5/DWD-Vol-2_99999_20180601054047_00.h5
./all/wradlib-data-master/geo/ne_10m_admin_0_countries.shp
./all/wradlib-data-master/geo/bangladesh.tif
./all/wradlib-data-master/geo/rivers_asia_37331.shp
./all/wradlib-data-master/geo/rivers_asia_37331.dbf
./all/wradlib-data-master/geo/bonn_new.tif
./src
./all/wradlib-data-master/radolan/grid/geotiff.tif
./all/wradlib-data-master/netcdf/cfrad.20080604_002217_000_SPOL_v36_SUR.nc
./all/wradlib-data-master/hdf5/71_20181220_060628.pvol.h5
./all/wradlib-data-master/hdf5/71_20181220_061228.pvol.h5
./all/wradlib-data-master/hdf5/DWD-Vol-2_99999_20180601054047_00.h5
./all/wradlib-data-master/geo/ne_10m_admin_0_countries.shp
./all/wradlib-data-master/geo/bangladesh.tif
./all/wradlib-data-master/geo/rivers_asia_37331.shp
./all/wradlib-data-master/geo/rivers_asia_37331.dbf
./all/wradlib-data-master/geo/bonn_new.tif
